@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
  background-color: #333;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles/dashboard.css */

/* Header styles */
.header {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #212529;
}

/* Navigation links styles */
.nav-link {
  padding: 0.5rem 1rem;
  color: #3182ce;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #2c5282;
}
.bg-white {
  background-color: #ffffff;
}

